{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<style>
  .user-buttons {
    font-size: 1.2rem;
      font-weight: bold;
      text-transform: uppercase;
      padding: 10px 20px;
      border-radius: 5px;
      background-color: #ddd;
      color: #333;
      text-decoration: none;
      transition: background-color 0.2s ease;
    }
    .center {
      text-align: center;
    }
    .content-container{
      margin: auto;
        margin-top: 50px;
        width: 50%;
        border: 3px solid #99335f;
        padding: 10px;
        text-align: center;
    }
</style>
{% csrf_token %}
<div class="center">
{% if user.is_authenticated %}
  <p>Zalogowano: {{ user.username }}</p>
  <a href="" class="user-buttons">Wyloguj</a>
{% else %}
  <p>Zaloguj się.</p>
  <a href="" class="user-buttons">Zaloguj się</a>
{% endif %}
<div class="content-container">
<p>Zaloguj się, aby korzystać z serwisu.</p>
</div>
</div>
{% endblock %}